# single point data daily

In [1]:
'''
*Version: 2.0 Published: 2021/03/09* Source: [NASA POWER](https://power.larc.nasa.gov/)
POWER API Multi-Point Download
This is an overview of the process to request data from multiple data points from the POWER API.
'''

import os, sys, time, json, urllib3, requests, multiprocessing

urllib3.disable_warnings()

def download_function(collection):
    ''' '''

    request, filepath = collection
    response = requests.get(url=request, verify=False, timeout=30.00).json()

    with open(filepath, 'w') as file_object:
        json.dump(response, file_object)

class Process():

    def __init__(self):

        self.processes = 5 # Please do not go more than five concurrent requests.

        self.request_template = r"https://power.larc.nasa.gov/api/temporal/daily/point?parameters=ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_KT,ALLSKY_SFC_LW_DWN,ALLSKY_SFC_UV_INDEX,T2M,T2MDEW,TS,T2M_RANGE,T2M_MAX,T2M_MIN,RH2M,PS,WS50M&community=RE&longitude={longitude}&latitude={latitude}&start=19940101&end=20191230&format=JSON"
        self.filename_template = "download_data/single_point/daily/File_Lat_{latitude}_Lon_{longitude}.json"

        self.messages = []
        self.times = {}

    def execute(self):

        Start_Time = time.time()

        locations = [(22.67,92.11)]

        requests = []
        for latitude, longitude in locations:
            request = self.request_template.format(latitude=latitude, longitude=longitude)
            filename = self.filename_template.format(latitude=latitude, longitude=longitude)
            requests.append((request, filename))

        requests_total = len(requests)

        pool = multiprocessing.Pool(self.processes)
        x = pool.imap_unordered(download_function, requests)

        for i, df in enumerate(x, 1):
            sys.stderr.write('\rExporting {0:%}'.format(i/requests_total))

        self.times["Total Script"] = round((time.time() - Start_Time), 2)

        print ("\n")
        print ("Total Script Time:", self.times["Total Script"])

if __name__ == '__main__':
    Process().execute()

Total Script Time: 13.31

Exporting 100.000000%

In [ ]:
import json
file = open('download_data/single_point/daily/File_Lat_22.67_Lon_92.11.json')
daily = json.load(file)

print(list(daily.keys()))

len(list(daily['properties']['parameter']['ALLSKY_SFC_SW_DWN'].keys()))

# Region

In [5]:
'''
*Version: 1.0 Published: 2020/02/11* Source: [NASA POWER](https://power.larc.nasa.gov/)
POWER API Multipoint Download (CSV)
This is an overview of the process to request data from multiple data points from the POWER API.
'''

import os, sys, time, json, urllib3, requests, multiprocessing

urllib3.disable_warnings()

import numpy as np
import pandas as pd

def download_function(collection):
    ''' '''

    request, filepath = collection
    response = requests.get(url=request, verify=False, timeout=30.00).json()

    with open(filepath, 'w') as file_object:
        json.dump(response, file_object)
        
        
class Process():

    def __init__(self):

        self.processes = 5 # Please do not go more than five concurrent requests.

        self.request_template = r"https://power.larc.nasa.gov/api/temporal/daily/point?parameters=ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_KT,ALLSKY_SFC_LW_DWN,ALLSKY_SFC_UV_INDEX,T2M,T2MDEW,TS,T2M_RANGE,T2M_MAX,T2M_MIN,RH2M,PS,WS50M&community=RE&longitude={longitude}&latitude={latitude}&start=20040101&end=20191230&format=JSON"
        self.filename_template = "download_data/region/File_Lat_{latitude}_Lon_{longitude}.json"

        self.messages = []
        self.times = {}

    def execute(self):

        Start_Time = time.time()

        latitudes = np.arange(22.04, 23.14, 0.01) # Update your download extent.
        longitudes = np.arange(92.06, 92.95, 0.01) # Update your download extent.

        requests = []
        for longitude in longitudes:
            for latitude in latitudes:
                request = self.request_template.format(latitude=latitude, longitude=longitude)
                filename = self.filename_template.format(latitude=latitude, longitude=longitude)
                requests.append((request, filename))

        requests_total = len(requests)

        pool = multiprocessing.Pool(self.processes)
        x = pool.imap_unordered(download_function, requests)

        for i, df in enumerate(x, 1):
            sys.stderr.write('\rExporting {0:%}'.format(i/requests_total))

        self.times["Total Script"] = round((time.time() - Start_Time), 2)

        print ("\n")
        print ("Total Script Time:", self.times["Total Script"])
        
if __name__ == '__main__':
    Process().execute()

Exporting 99.989990%

Total Script Time: 20694.95

Exporting 100.000000%

In [6]:
file = 'download_data/region/File_Lat_22.060000000000002_Lon_92.06.json'

import json
file = open(file)
daily = json.load(file)

print(list(daily.keys()))

len(list(daily['properties']['parameter']['ALLSKY_SFC_SW_DWN'].keys()))

['type', 'geometry', 'properties', 'header', 'messages', 'parameters', 'times']

5843

# single point hourly

In [14]:
'''
*Version: 2.0 Published: 2021/03/09* Source: [NASA POWER](https://power.larc.nasa.gov/)
POWER API Multi-Point Download
This is an overview of the process to request data from multiple data points from the POWER API.
'''

import os, sys, time, json, urllib3, requests, multiprocessing

urllib3.disable_warnings()

def download_function(collection):
    ''' '''

    request, filepath = collection
    response = requests.get(url=request, verify=False, timeout=30.00).json()

    with open(filepath, 'w') as file_object:
        json.dump(response, file_object)

class Process():

    def __init__(self):

        self.processes = 5 # Please do not go more than five concurrent requests.

        self.request_template = r"https://power.larc.nasa.gov/api/temporal/hourly/point?parameters=ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_KT,ALLSKY_SFC_LW_DWN,ALLSKY_SFC_UV_INDEX,T2M,T2MDEW,TS,RH2M,PS,WS50M&community=RE&longitude={longitude}&latitude={latitude}&start=20100101&end=20111231&format=JSON"
        self.filename_template = "download_data/single_point/hourly/File_10-11_Lat_{latitude}_Lon_{longitude}.json"

        self.messages = []
        self.times = {}

    def execute(self):

        Start_Time = time.time()

        locations = [(22.67,92.11)]

        requests = []
        for latitude, longitude in locations:
            request = self.request_template.format(latitude=latitude, longitude=longitude)
            filename = self.filename_template.format(latitude=latitude, longitude=longitude)
            requests.append((request, filename))

        requests_total = len(requests)

        pool = multiprocessing.Pool(self.processes)
        x = pool.imap_unordered(download_function, requests)

        for i, df in enumerate(x, 1):
            sys.stderr.write('\rExporting {0:%}'.format(i/requests_total))

        self.times["Total Script"] = round((time.time() - Start_Time), 2)

        print ("\n")
        print ("Total Script Time:", self.times["Total Script"])


if __name__ == '__main__':
    Process().execute()

Total Script Time: 30.89

Exporting 100.000000%

In [16]:
import json
file_12_13 = open('download_data/single_point/hourly/File_12-13_Lat_22.67_Lon_92.11.json')
hourly = json.load(file)

hourly

print(list(hourly.keys()))

len(list(hourly['properties']['parameter']['ALLSKY_SFC_SW_DWN'].keys()))

['type', 'geometry', 'properties', 'header', 'messages', 'parameters', 'times']

17544

In [87]:
file_1 = open('download_data/single_point/hourly/File_10-11_Lat_22.67_Lon_92.11.json')
file_2 = open('download_data/single_point/hourly/File_12-13_Lat_22.67_Lon_92.11.json')
file_3 = open('download_data/single_point/hourly/File_14-15_Lat_22.67_Lon_92.11.json')
file_4 = open('download_data/single_point/hourly/File_16-17_Lat_22.67_Lon_92.11.json')
file_5 = open('download_data/single_point/hourly/File_18-19_Lat_22.67_Lon_92.11.json')



import pandas as pd
df_1 = pd.DataFrame()

file = json.load(file_1)
file = file['properties']['parameter']

column_name = list(file.keys())

time = list(file[column_name[0]].keys())

df_1['Time'] = time
for n in range(len(column_name)):
    df_1[column_name[n]] = list(file[column_name[n]].values())

,Time,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_KT,ALLSKY_SFC_LW_DWN,ALLSKY_SFC_UV_INDEX,T2M,T2MDEW,TS,RH2M,PS,WS50M
0,2018010106,7.66,7.35,0.27,362.70,0.00,17.30,16.89,16.99,97.31,100.88,2.28
1,2018010107,40.52,135.12,0.15,380.10,0.10,18.54,17.44,19.77,93.19,100.95,1.78
2,2018010108,109.26,333.17,0.20,383.38,0.73,20.03,17.51,22.29,85.44,101.02,1.17
3,2018010109,179.74,508.00,0.23,391.40,1.70,21.94,16.82,24.17,72.75,101.06,0.81
4,2018010110,294.63,632.88,0.33,396.35,3.45,22.70,16.69,24.60,68.75,101.02,0.34
...,...,...,...,...,...,...,...,...,...,...,...,...
17515,2020010101,0.00,0.00,-999.00,335.52,0.00,18.11,15.55,17.01,84.88,101.33,2.84
17516,2020010102,0.00,0.00,-999.00,336.88,0.00,17.85,15.60,16.90,86.50,101.30,3.01
17517,2020010103,0.00,0.00,-999.00,335.52,0.00,17.73,15.69,16.84,87.69,101.27,2.99
17518,2020010104,0.00,0.00,-999.00,334.70,0.00,17.63,15.68,16.54,88.25,101.28,2.77
17519,2020010105,0.00,0.00,-999.00,344.38,0.00,17.52,15.77,16.24,89.31,101.35,2.64

In [88]:
df=pd.concat([df_1,df_2,df_3,df_4,df_5])

In [89]:
df=df.reset_index(drop=True)

In [90]:
df

,Time,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_KT,ALLSKY_SFC_LW_DWN,ALLSKY_SFC_UV_INDEX,T2M,T2MDEW,TS,RH2M,PS,WS50M
0,2010010106,10.45,8.15,0.36,308.02,0.00,12.01,12.41,12.46,100.00,101.04,4.05
1,2010010107,139.84,148.05,0.50,312.48,0.20,13.69,12.87,15.45,94.69,101.15,3.92
2,2010010108,334.69,359.02,0.62,328.77,1.20,15.49,13.36,18.74,87.00,101.23,3.58
3,2010010109,514.27,544.30,0.68,335.90,2.85,18.38,12.94,21.64,70.50,101.28,4.59
4,2010010110,685.15,679.58,0.76,313.05,4.73,20.09,13.10,23.79,64.00,101.25,4.70
...,...,...,...,...,...,...,...,...,...,...,...,...
87643,2020010101,0.00,0.00,-999.00,335.52,0.00,18.11,15.55,17.01,84.88,101.33,2.84
87644,2020010102,0.00,0.00,-999.00,336.88,0.00,17.85,15.60,16.90,86.50,101.30,3.01
87645,2020010103,0.00,0.00,-999.00,335.52,0.00,17.73,15.69,16.84,87.69,101.27,2.99
87646,2020010104,0.00,0.00,-999.00,334.70,0.00,17.63,15.68,16.54,88.25,101.28,2.77
87647,2020010105,0.00,0.00,-999.00,344.38,0.00,17.52,15.77,16.24,89.31,101.35,2.64

In [91]:
df.to_parquet('solar_radiation_hourly_rangamati_10_years.parquet',index=False)

In [2]:
import pandas as pd
df = pd.read_parquet('solar_radiation_hourly_rangamati_10_years.parquet')

In [7]:
df

,Time,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_KT,ALLSKY_SFC_LW_DWN,ALLSKY_SFC_UV_INDEX,T2M,T2MDEW,TS,RH2M,PS,WS50M
0,2010010106,10.45,8.15,0.36,308.02,0.00,12.01,12.41,12.46,100.00,101.04,4.05
1,2010010107,139.84,148.05,0.50,312.48,0.20,13.69,12.87,15.45,94.69,101.15,3.92
2,2010010108,334.69,359.02,0.62,328.77,1.20,15.49,13.36,18.74,87.00,101.23,3.58
3,2010010109,514.27,544.30,0.68,335.90,2.85,18.38,12.94,21.64,70.50,101.28,4.59
4,2010010110,685.15,679.58,0.76,313.05,4.73,20.09,13.10,23.79,64.00,101.25,4.70
...,...,...,...,...,...,...,...,...,...,...,...,...
87643,2020010101,0.00,0.00,-999.00,335.52,0.00,18.11,15.55,17.01,84.88,101.33,2.84
87644,2020010102,0.00,0.00,-999.00,336.88,0.00,17.85,15.60,16.90,86.50,101.30,3.01
87645,2020010103,0.00,0.00,-999.00,335.52,0.00,17.73,15.69,16.84,87.69,101.27,2.99
87646,2020010104,0.00,0.00,-999.00,334.70,0.00,17.63,15.68,16.54,88.25,101.28,2.77
87647,2020010105,0.00,0.00,-999.00,344.38,0.00,17.52,15.77,16.24,89.31,101.35,2.64

In [10]:
import json
file_10_14 = open('download_data/single_point/hourly/POWER_Point_Hourly_20100101_20141231_022d6700N_092d1100E_LST.json')
file_10_14 = json.load(file_10_14)
file_10_14

df_10_14 = pd.DataFrame()

file_10_14 = file_10_14['properties']['parameter']

column_name = list(file_10_14.keys())

time = list(file_10_14[column_name[0]].keys())

df_10_14['Time'] = time
for n in range(len(column_name)):
    df_10_14[column_name[n]] = list(file_10_14[column_name[n]].values())

In [11]:
df_10_14

             Time     SZA  PRECTOTCORR  WS10M   QV2M
0      2010010106   88.82         0.00   2.75   8.91
1      2010010107   78.62         0.00   3.04   9.16
2      2010010108   67.30         0.00   3.17   9.46
3      2010010109   57.47         0.00   4.01   9.22
4      2010010110   50.00         0.00   4.18   9.28
...           ...     ...          ...    ...    ...
43819  2015010101 -999.00         0.00   1.41  11.05
43820  2015010102 -999.00         0.01   1.76  11.23
43821  2015010103 -999.00         0.06   1.97  11.29
43822  2015010104 -999.00         0.12   2.08  11.41
43823  2015010105 -999.00         0.13   2.39  11.60

[43824 rows x 5 columns]

In [12]:
import json
file_15_19 = open('download_data/single_point/hourly/POWER_Point_Hourly_20150101_20191231_022d6700N_092d1100E_LST.json')
file_15_19 = json.load(file_15_19)
file_15_19

df_15_19 = pd.DataFrame()

file_15_19 = file_15_19['properties']['parameter']

column_name = list(file_15_19.keys())

time = list(file_15_19[column_name[0]].keys())

df_15_19['Time'] = time
for n in range(len(column_name)):
    df_15_19[column_name[n]] = list(file_15_19[column_name[n]].values())

In [14]:
df_temp = pd.concat([df_10_14,df_15_19])
df_temp = df_temp.reset_index(drop=True)
df_temp

             Time     SZA  PRECTOTCORR  WS10M   QV2M
0      2010010106   88.82          0.0   2.75   8.91
1      2010010107   78.62          0.0   3.04   9.16
2      2010010108   67.30          0.0   3.17   9.46
3      2010010109   57.47          0.0   4.01   9.22
4      2010010110   50.00          0.0   4.18   9.28
...           ...     ...          ...    ...    ...
87643  2020010101 -999.00          0.0   2.04  10.93
87644  2020010102 -999.00          0.0   2.13  10.93
87645  2020010103 -999.00          0.0   2.12  10.99
87646  2020010104 -999.00          0.0   2.00  10.99
87647  2020010105 -999.00          0.0   1.94  11.05

[87648 rows x 5 columns]

In [17]:
df = df.merge(df_temp,how='inner',on='Time')

In [18]:
df.to_parquet('solar_radiation_hourly_rangamati_10_years.parquet',index=False)

In [19]:
df.to_csv('solar_radiation_hourly_rangamati_10_years.csv',index=False)

In [20]:
df = pd.read_parquet('solar_radiation_hourly_rangamati_10_years.parquet')
df

,Time,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_KT,ALLSKY_SFC_LW_DWN,ALLSKY_SFC_UV_INDEX,T2M,T2MDEW,TS,RH2M,PS,WS50M,SZA,PRECTOTCORR,WS10M,QV2M
0,2010010106,10.45,8.15,0.36,308.02,0.00,12.01,12.41,12.46,100.00,101.04,4.05,88.82,0.0,2.75,8.91
1,2010010107,139.84,148.05,0.50,312.48,0.20,13.69,12.87,15.45,94.69,101.15,3.92,78.62,0.0,3.04,9.16
2,2010010108,334.69,359.02,0.62,328.77,1.20,15.49,13.36,18.74,87.00,101.23,3.58,67.30,0.0,3.17,9.46
3,2010010109,514.27,544.30,0.68,335.90,2.85,18.38,12.94,21.64,70.50,101.28,4.59,57.47,0.0,4.01,9.22
4,2010010110,685.15,679.58,0.76,313.05,4.73,20.09,13.10,23.79,64.00,101.25,4.70,50.00,0.0,4.18,9.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87643,2020010101,0.00,0.00,-999.00,335.52,0.00,18.11,15.55,17.01,84.88,101.33,2.84,-999.00,0.0,2.04,10.93
87644,2020010102,0.00,0.00,-999.00,336.88,0.00,17.85,15.60,16.90,86.50,101.30,3.01,-999.00,0.0,2.13,10.93
87645,2020010103,0.00,0.00,-999.00,335.52,0.00,17.73,15.69,16.84,87.69,101.27,2.99,-999.00,0.0,2.12,10.99
87646,2020010104,0.00,0.00,-999.00,334.70,0.00,17.63,15.68,16.54,88.25,101.28,2.77,-999.00,0.0,2.00,10.99
87647,2020010105,0.00,0.00,-999.00,344.38,0.00,17.52,15.77,16.24,89.31,101.35,2.64,-999.00,0.0,1.94,11.05